@font-face {
  font-family: "FuturaStdBook";
  src: url("../../assets/fonts/FuturaStdBook.woff2") format("woff2");
  font-style: normal;
  font-weight: $base-font-weight-regular;
  font-display: swap;
}

@font-face {
  font-family: "FuturaBold";
  src: url("../../assets/fonts/FuturaBold.woff2") format("woff2");
  font-style: normal;
  font-weight: $base-font-weight-bold;
  font-display: swap;
}
