//mixins

//fonts
@mixin font($font, $line-height) {
  font-size: rem($font);
  line-height: rem($line-height);
}

@mixin fontLight() {
  font-weight: $base-font-weight-light;
}

@mixin fontRegular() {
  font-weight: $base-font-weight-regular;
}

@mixin fontBold() {
  font-weight: $base-font-weight-bold;
}

@mixin hover() {
  &:hover {
    @media screen and (min-width: 1024px) {
      @content;
    }
  }
}

@mixin hover-focus() {
  &:hover,
  &:focus {
    @content;
  }
}

@mixin no-scrollbar() {
  -ms-overflow-style: none; // IE and Edge
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Chrome, Safari and Opera
  }
}

//gradients
@mixin gradient($direction, $colors) {
  background: linear-gradient($direction, $colors);
}

@mixin card-gradient {
  @include gradient(180deg, (rgba(52, 52, 52, 0) 0%, rgba(52, 52, 52, 0.8) 100%));
}
